{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
  </head>
  <body>
    <header>
      <h1><a href="{% url 'base' %}">Inventory Management System</a></h1>
      <nav>
        <ul>
          <li><a href="{% url 'employee_detail_list' %}">Employees</a></li>
          <li><a href="{% url 'product_list' %}">Products</a></li>
          <li>
            <a href="{% url 'employee_product_list' %}">Employee_Products</a>
          </li>
          <li><a href="{% url 'team_list' %}">Teams</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>&copy; {% now "Y" %} Hamza</footer>
  </body>
</html