{% extends 'base.html' %}

{% block content %}
  <h1>Employee Products</h1>
  <a href="{% url 'employee_product_create' %}">Add Employee Detail</a>
  <table>
    <thead>
      <tr>
        <th>Employee Code</th>
        <th>Product Tag</th>
        <th>Quantity</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for employee_product in employee_products %}
        <tr>
          <td>{{ employee_product.employee_code }}</td>
          <td>{{ employee_product.product_tag }}</td>
          <td>{{ employee_product.quantity }}</td>
          <td>{{ employee_product.date }}</td>
          <td><a href="{% url 'employee_product_update' pk=employee_product.pk %}">Update</a></td>
          <td><a href="{% url 'employee_product_delete' pk=employee_product.pk %}">Delete</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No employee products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
