{% extends 'base.html' %} {% load static %}{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_list.css' %}" />
<h2>{{ employee_detail.name }}</h2>
<a href="{% url 'employee_detail_list' %}">Back to Employee Detail List</a>
<table>
  <thead>
    <tr>
      <th>Employee Code</th>
      <th>Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Age</th>
      <th>Team Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ employee_detail.employee_code }}</td>
      <td>{{ employee_detail.number }}</td>
      <td>{{ employee_detail.email }}</td>
      <td>{{ employee_detail.address }}</td>
      <td>{{ employee_detail.city }}</td>
      <td>{{ employee_detail.age }}</td>
      <td>{{ employee_detail.team.name }}</td>

      <td>
        <a href="{% url 'employee_detail_update' employee_detail.pk %}">Edit</a>
        <a
          href="{% url 'employee_detail_delete' employee_detail.pk %}"
          class="delete-link"
          data-employee-name="{{ employee_detail.name }}"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
  // Confirm delete dialog for employee detail
  var deleteLink = document.querySelector(".delete-link");
  deleteLink.addEventListener("click", function (event) {
    var employeeName = this.getAttribute("data-employee-name");
    var confirmDelete = confirm(
      "Are you sure you want to delete " + employeeName + "?"
    );
    if (!confirmDelete) {
      event.preventDefault();
    }
  });
</script>
{% endblock %}
