{% extends 'base.html' %}{% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_list.css' %}">

<h1>Employee Details</h1>
<a href="{% url 'employee_detail_create' %}">Add Employee Detail</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Code</th>
      <th>Number</th>
      <th>City</th>
      <th>Address</th>
      <th>Email</th>
      <th>Desigation</th>
      <th>Age</th>
      <th>Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.team.name }}</td>
      <td>{{ employee.employee_code }}</td>
      <td>{{ employee.number }}</td>
      <td>{{ employee.city }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.designation }}</td>
      <td>{{ employee.age }}</td>
      <td>
        {% comment %}
        <a href="{% url 'employee_detail_detail' employee.pk %}"
          >{{ employee.name }}</a
        >
        {% endcomment %}
        <a href="{% url 'employee_detail_update' employee.pk %}">Edit</a>
        {% comment %}
      </td>
      <td>
        {% endcomment %}
        <a
          href="{% url 'employee_detail_delete' employee.pk %}"
          class="delete-link"
          data-employee-name="{{ employee_detail.name }}"
          >Delete</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No employee details found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block extra_js %}
<script>
  // Confirm delete dialog for employee detail
  var deleteLinks = document.querySelectorAll(".delete-link");
  for (var i = 0; i < deleteLinks.length; i++) {
    deleteLinks[i].addEventListener("click", function (event) {
      var employeeName = this.getAttribute("data-employee-name");
      var confirmDelete = confirm(
        "Are you sure you want to delete " + employeeName + "?"
      );
      if (!confirmDelete) {
        event.preventDefault();
      }
    });
  }
</script>
{% endblock %}
