{% extends 'base.html' %} {% load static %}{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_list.css' %}" />
<style>
  /* CSS styles for the canvas element */
  #pieChart {
    width: 400px;
    height: 400px;
    margin-top: 0%;
    margin-left: 70%;
    /* border: 1px solid #ccc; */
  }

  /* Other CSS styles for the content of your home.html template */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }

  h1 {
    font-size: 4px;
    color: #ff0000;
  }
  .count-container {
    margin-left: 75%;
  }

  /* Add more CSS styles as needed */
</style>

<!-- <canvas id="pieChart"></canvas> -->
<div>
  <canvas id="pieChart"></canvas>
  <!-- <div class="total-counts" > -->
  <div class="count-container">
    Employees:{{ total_employees }} | Products:{{ total_products }} | Assigned
    Products: {{ total_assigned_products }}
  </div>
  <!-- </div> -->
</div>

<!-- JavaScript code for pie chart -->
<script>
  // Get the canvas element
  var pieChartCanvas = document.getElementById('pieChart');

  // Create the chart using Chart.js
  var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: {
          labels: ['Employee', 'Product', 'Assigned Product'],
          datasets: [{
              data: [
                  {{ total_employees }},
                  {{ total_products }},
                  {{ total_assigned_products }}
              ],
              backgroundColor: ['red', 'green', 'blue'] // Example colors
          }]
      },
      options: {
          // Configure the chart options as needed
      }
  });
</script>

{% endblock %}
