{% extends 'base.html' %} {% load static %}{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/all_list.css' %}"
/>{% include "search.html" %}
<table>
  <thead>
    <tr>
      <th>Total Employees</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ total_employees }}</td>
      <td>
        <a
          href="{% url 'employee_detail_list' %}"
          class="btn btn-primary btn-sm"
          >View</a
        >
      </td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th>Total Products</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ total_products }}</td>
      <td>
        <a href="{% url 'product_list' %}" class="btn btn-primary btn-sm"
          >View</a
        >
      </td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th>Total Assigned Products</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ total_assigned_products }}</td>
      <td>
        <a
          href="{% url 'employee_product_list' %}"
          class="btn btn-primary btn-sm"
          >View</a
        >
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
