{% extends 'base.html' %} {% load static %}{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_list.css' %}" />
<h1>Product List</h1>
<a href="{% url 'product_create' %}">Create Product</a>
<table>
  <thead>
    <th>Total Quantity:</th>
    <th>Assigned Quantity:</th>
  </thead>
  <tbody>
    <td>{{ total_quantity }}</td>
    <td>{{ assigned_quantity }}</td>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Product_Tag</th>
      <th>Product_Type</th>
      <th>Manufacture_By</th>
      <th>Product_Capacity</th>
      <th>Quantity</th>
      <th>Purchase_Date</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.product_tag}}</td>
      <td>{{ product.product_type }}</td>
      <td>{{ product.manufacture_by }}</td>
      <td>{{ product.product_capacity }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.purchase_date }}</td>
      {% comment %}
      <a href="{% url 'product_detail' product.pk %}"
        >{{ product.product_type }}</a
      >
      {% endcomment %}
      <td>
        <a href="{% url 'product_update' pk=product.pk %}">Edit</a>

        <a href="{% url 'product_delete' pk=product.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No employee products found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
