{% load static %}{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#search-form").on("submit", function (event) {
      event.preventDefault(); // Prevent form submission

      var query = $("#search-input").val();
      $.ajax({
        url: '{% url "live_search" %}',
        data: { query: query },
        dataType: "html",
        success: function (data) {
          $("#search-results").html(data);
          $("#search-input").val(""); // Clear the search input field
        },
      });
    });
  });
</script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/all_list.css' %}"
/>
<form id="search-form" class="search-box" method="GET">
  <input
    id="search-input"
    type="text"
    name="query"
    placeholder="Enter Employee Code or Product Tag"
  />
  <button hidden id="search-button" class="search-button" type="submit">Search</button>
</form>

<div id="search-results"></div>

<div id="search-results"></div>
{% endblock %}
